/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
:root {
    --main-color: green;
    --primary: white;
    --black: #141414;
    --white: white;
    --bg: white;
    --light-black: #666;
    --text-color: var(--black);
    
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--main-color);
}

/* Form Styles */
.food-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.input, .select, .textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.input:focus, .select:focus, .textarea:focus {
    border-color: #007bff;
    outline: none;
}

.textarea {
    resize: vertical;
    height: 120px;
}

.select {
    background-color: #fafafa;
}

.add-btn, .remove-btn {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}

.add-btn:hover, .remove-btn:hover {
    background-color: #092810;
}

.remove-btn {
    background-color: #dc3545;
}

.remove-btn:hover {
    background-color: #c82333;
}

/* Error and Success Messages */
.error, .success {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

/* Button Styles */
.submit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #218838;
}


