<div ng-controller="AboutServicesController">
    <header class="header">
        <a href="#" class="logo">Healthy Living</a> 
        <div id="menu" ng-click="toggleMenu()">&#x1F354;</div> 
        <div ng-include="'navbar.html'"></div>
    </header>

    <section class="parallax-video">
        <video id="background-video" autoplay loop muted>
            <source src="../assets/video/about.mp4" type="video/mp4">
        </video>
        <div class="content">
            <h2>ABOUT US</h2>
        </div>
    </section>
    
    <section class="about" id="about">
        <h1 class="heading">{{aboutHeading}}</h1>
        <div class="row">
            <div class="content">
                <h3>{{aboutTitle}}</h3>
                <p>{{aboutDescription}}</p>
            </div>
            <div class="image">
                <img ng-src="{{aboutImage}}" alt="About Image">
            </div>
        </div>
    </section>

    <section class="services" id="services">
        <h1 class="heading">{{servicesHeading}}</h1>
        <div class="box-container">
            <div class="box" ng-repeat="service in services">
                <div class="icon">
                    <img ng-src="{{service.image}}" alt="{{service.title}}">
                </div>
                <div class="content">
                    <h3>{{service.title}}</h3>
                    <div class="line"></div>
                    <p>{{service.description}}</p>
                    <ul>
                        <li ng-repeat="feature in service.features">
                            <i class="fas fa-check"></i>{{feature}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="social-icons">
            <a ng-href="{{social.github}}" ng-repeat="social in socialLinks"> 
                <i class="bx" ng-class="social.icon"></i>
            </a>
        </div>
        
        <p class="copyright">{{copyright}}</p>
    </section>
</div>
