<body ng-controller="EditFoodController">

    <h1>Edit Food</h1>

    <form name="foodForm" ng-submit="updateFood()">
        <div>
            <label for="name">Food Name:</label>
            <input type="text" id="name" ng-model="food.name" required>
        </div>

        <div>
            <label for="imagelink">Image Link:</label>
            <input type="text" id="imagelink" ng-model="food.imagelink">
        </div>

        <div>
            <label for="category">Category:</label>
            <select id="category" ng-model="food.category" required>
                <option value="" disabled>Select a category</option>
                <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
            </select>
        </div>

        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" ng-model="food.price" required>
        </div>

        <div>
            <label>Ingredients and Measurements:</label>
            <div ng-repeat="ingredient in food.ingredients track by $index" class="ingredient-item">
                <input type="text" ng-model="food.ingredients[$index]" placeholder="Ingredient" ng-required="true" />
                <input type="text" ng-model="food.measurements[$index]" placeholder="Measurement" ng-required="true" />
                <button type="button" ng-click="removeIngredient($index)">Remove</button>
            </div>
            <button type="button" ng-click="addIngredient()">Add Ingredient</button>
        </div>

        <div>
            <label for="area">Area:</label>
            <input type="text" id="area" ng-model="food.area">
        </div>

        <div>
            <label for="instructions">Instructions:</label>
            <textarea id="instructions" ng-model="food.instructions"></textarea>
        </div>

        <div>
            <button type="submit" ng-disabled="foodForm.$invalid">Update Food</button>
        </div>
    </form>

    <div ng-if="errorMessage" class="error">
        <p>{{errorMessage}}</p>
    </div>

    <div ng-if="successMessage" class="success">
        <p>{{successMessage}}</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</
