<!DOCTYPE html>
<html lang="en" ng-app="healthyLivingApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Living</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

    <header class="header">
        <a href="#" class="logo">Healthy Living</a> 
        <div id="menu" onclick="toggleMenu()">&#x1F354;</div> 
        <nav class="navbar">
            <a href="#!home-diet">Home & Diet</a>
            <a href="#!about-services">About & Services</a>
            <a href="#!results">Results</a>
        </nav>
        <div class="search-container">
            <input type="text" id="searchString">
            <button class="search-icon" aria-label="Search" id="searchButton">🔍</button>
        </div>
    </header>

<section class="home" id="home">
    <div class="content">
        <h3>Discover Delicious and Nutritious Recipes for a Healthier You!</h3>
        <a href="#about" class="btn">read more</a>
    </div>
</section>

<section class="diet" id="diet">
    <h1 class="heading">Diet Plan</h1>

    <ul class="controls">
        <li class="buttons" ng-click="filterCategory('Seafood')">
            <img src="../image/monsal.jpg" alt="">
            <h3>Seafood</h3>    
        </li>
        <li class="buttons" ng-click="filterCategory('Side')">
            <img src="../image/french.jpg" alt="">
            <h3>Side Dish</h3>    
        </li>
        <li class="buttons" ng-click="filterCategory('Vegan')">
            <img src="../image/veganlag.jpg" alt="">
            <h3>Vegan</h3>    
        </li>
        <li class="buttons" ng-click="filterCategory('Breakfast')">
            <img src="../image/diet1.jpg" alt="">
            <h3>Breakfast</h3>    
        </li>
    </ul>

    <h1 class="heading" id="result">{{ resultMessage }}</h1>

    <div class="image-container" id="filterResult">
        <div ng-repeat="recipe in filteredRecipes">
            <div class="box lunch">
                <div class="image">
                    <img ng-src="{{ recipe.strMealThumb }}" alt="{{ recipe.strMeal }}"/>
                </div>
                <div class="content">
                    <a ng-href="ingredients.html?mealId={{ recipe.idMeal }}&description={{ recipe.description }}" target="_blank" class="link">{{ recipe.strMeal }}</a>
                    <p>{{ recipe.description }}</p>
                    <div class="icon">
                        <a href="#"><i class="fas fa-clock"></i>22 September 2024</a>
                        <a href="#"><i class="fas fa-clock"></i>by Amer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="social-icons">
    <a href="https://github.com/AmerFran/KELOMPOK-9-FRONTEND"> 
        <i class="bx bxl-github"></i>
    </a>
    <a href="https://www.instagram.com/fabliusm/"> 
        <i class="bx bxl-instagram-alt"></i>
    </a>
    <a href="https://x.com/"> 
        <i class="bx bxl-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/amer-f-337088308/"> 
        <i class="bx bxl-linkedin-square"></i>
    </a>
</div>

<p class="copyright">© Healthy Living | All Rights Reserved</p>
<script src="app.js"></script>
</body>
</html>
