<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Foods</title>
</head>

<body>
    <header class="header">
        <a href="#" class="logo">Healthy Living</a>
        <div id="menu" ng-click="toggleMenu()">&#x1F354;</div> 
        <nav class="navbar">
            <a href="#!home-diet">Home & Diet</a>
            <a href="#!about-services">About & Services</a>
            <a href="#!result">Results</a>
        </nav>
        <div class="search-container">
            <input type="text" id="searchString" ng-model="searchString">
            <button class="search-icon" aria-label="Search" ng-click="searchEvent()">
                🔍
            </button>
        </div>
    </header>

    <section class="home" id="home">
        <div class="content">
            <h3>Discover Delicious and Nutritious Recipes for a Healthier You!</h3>
            <a href="#about" class="btn">read more</a>
        </div>
    </section>

    <section class="diet" id="diet">
        <h1 class="heading">diet plan</h1>
        <div class="container-diet">
        <ul class="controls">
            <li ng-repeat="category in categories" ng-click="filterCategory(category.name)">
                <img ng-src="{{category.image}}" alt="">
                <h3 class="bomber">{{category.name}}</h3>    
            </li>
        </ul>
        <h1 class="heading" id="result">{{filteredCategory}}</h1>
        <div class="image-container" id="filterResult">
            <div class="box" ng-repeat="meal in filteredMeals">
                <div class="image">
                    <img ng-src="{{meal.imagelink}}" alt="">
                </div>
                <div class="content">
                    <a href="#!ingredient?mealId={{meal.id}}&description={{meal.description}}" target="_blank" class="link">{{meal.name}}</a>
                    <p>{{meal.description}}</p>
                    <div class="icon">
                        <a href="#"><i class="fas fa-clock"></i>22 September 2024</a>
                        <a href="#"><i class="fas fa-clock"></i>by amer</a>
                    </div>
                </div>
            <div>

        </div>
    </section>
</div>

    <div class="social-icons">
        <a href="https://github.com/AmerFran/KELOMPOK-9-FRONTEND"> 
            <i class ="bx bxl-github"></i>
        </a>
        <a href="https://www.instagram.com/fabliusm/"> 
            <i class ="bx bxl-instagram-alt"></i>
        </a>
        <a href="https://x.com/"> 
            <i class ="bx bxl-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/amer-f-337088308/"> 
            <i class ="bx bxl-linkedin-square"></i>
        </a>
    </div>

    <ul class="list">
    </ul>
    <p class="copyright">
        © Healthy Living | All Rights Reserved
    </p>
</body>