<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Ingredients</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>

    <div class="full-width-banner">
        <h1 id="nameHeader"></h1>
    </div>

    <div class="container">
        <div id="buttonContainer">
            <a href="#ingredientsContainer">Jump to Recipe</a>
        </div>

        <div id="descriptionContainer">
            <h2 id="descriptionHeader"></h2>
        </div>

        <div id="imageContainer">
        </div>

        <div id="ingredientsContainer">
            </ul>
        </div>

        <ol id="instructionContainer"><h2>Instruction For The Recipe</h2>
        </ol>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/ingredient.js"></script>
</body>
</html>
