<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Ingredients</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>

    <div class="full-width-banner">
        <h1>{{meal.name}}</h1>
    </div>

    <div class="container">
        <div id="buttonContainer">
            <a href="#ingredientsContainer">Jump to Recipe</a>
        </div>

        <div id="descriptionContainer">
            <h2>{{description}}</h2>
        </div>

        <div id="imageContainer">
            <img ng-src="{{meal.imagelink}}" alt="Meal Image" />
        </div>

        <div id="ingredientsContainer">
            <h2>Ingredients for {{meal.name}}:</h2>
            <ul>
                <li ng-repeat="ingredient in meal.ingredients">
                    {{meal.measurements[$index]}} {{ingredient}}
                </li>
            </ul>
        </div>

        <div id="instructionContainer">
            <h2>Instruction For The Recipe</h2>
            <ol>
                <li ng-repeat="instruction in meal.instructions">
                    {{$index + 1}}. {{instruction}}
                </li>
            </ol>
        </div>
    </div>
</body>
