<body ng-controller="ProfileController">
    <header class="header">
        <a href="#" class="logo">Healthy Living</a>
        <div id="menu" ng-click="toggleMenu()">&#x1F354;</div> 
        <body ng-controller="NavBarController">
        <div ng-include="'navbar.html'"></div>
        </body>
    </header>
    <section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3>Welcome, {{ user.username }}!</h3>
        <form ng-submit="change(user)">
            <h3>change email and username</h3>
            <input type="text" ng-model="change.username" placeholder="Username" >
            <input type="email" ng-model="change.email" placeholder="Email">
            <input type="password" ng-model="change.password" placeholder="Password">
            <button type="submit">change</button>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <form ng-submit="changePass()">
            <h3>change password</h3>
            <input type="password" ng-model="change.currPass" placeholder="current password">
            <input type="password" ng-model="change.newPass" placeholder="new password">
            <input type="password" ng-model="change.confirmPass" placeholder="confirm password">
            <button type="submit">change</button>
        </form>
        
        <h1 ng-click="logOut()">logout</h1>

        
    </section>
</body>